.visual { 
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);

    position: relative;
    left: 250px; top: 70px; 
}
.visual.dark { background-color: #000 !important; }
.visual .background-image {
    width: 100%;
    height: 850px;

    z-index: 10;
}
.visual::before, .visual::after {
    width: 100%; 
    height: 100px;

    position: absolute;
    left: 0; top: 750px;
    z-index: 100;
    transition: opacity 1s ease-out !important;

    opacity: 0;
    content: '';
}
.visul.dark::before { opacity: 1; background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgb(0, 0, 0) 100%); }
.visual.white::after { opacity: 1; background: linear-gradient(to bottom, rgba(139, 139, 139, 0) 0%, rgb(255, 255, 255) 100%); }
.type_open { left: 250px; }
.type_close { width: 100vw; left: 0; }

.background-text {
    color: #fff;
    line-height: 80px;

    position: absolute;
    left: 10%; top: 200px;
    z-index: 100;
}

.content {
    width: 80%;

    position: relative;
    z-index: 100;

    margin: 0 auto;
    padding-top: 450px;
}
.popular { 
    color: #fff; 
}
.popular .box {
    height: 220px;
    background-color: #1E2025;

    border-radius: 20px;
}
.popular .profile-image {
    width: 30px;
    height: 30px;
    background-color: #fff;

    border-radius: 50%;
}
.popular-content { font-size: .5em; }
.popular span { font-size: 2em; }
.popular .submit {
    width: 50px;
    height: 25px;
    background-color: #fff;

    color: #333;
    text-align: center;
    line-height: 25px;
    font-size: 1.4em;

    border-radius: 20px;
}